<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="../assets/images/Fosil-logo-white.png" style='width:50px;' alt="">
        <span style='margin-left:10px'>Fosil</span>
        <span class="example-spacer"></span>
        <!--  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <mat-icon [matMenuTriggerFor]="menu" matRipple class="menu_more_vert" aria-hidden="false"
            aria-label="Example delete icon">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>
                Logout
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container">
    <div style='margin-top: 10px;'>
        <div class="row">
            <div class="col-sm-3">
                <div class='icon-menu' (click)='openSubmenu("administracion")'  >
                    <div class="icon" matRipple></div>
                    <div>
                        <h3>Administracion</h3>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-3">
                <div class='icon-menu' (click)='openSubmenu("mantenimiento")'>
                    <div class="icon" matRipple></div>
                    <div>
                        <h3>Mantenimiento</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-3">
                <div class='icon-menu' (click)='openSubmenu("tecnica")'>
                    <div class="icon" matRipple></div>
                    <div>
                        <h3>Técnica</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-3">
                <div class='icon-menu' (click)='openSubmenu("sgsst")'>
                    <div class="icon" matRipple></div>
                    <div>
                        <h3>SG-SST</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-3">
                <div class='icon-menu' (click)='openSubmenu("personal")'>
                    <div class="icon" matRipple></div>
                    <div>
                        <h3>Personal</h3>
                    </div>
                </div>
            </div>  
    
    
        </div>
    </div>
    
</div>




